<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pizza Shop</title>
  </head>
  <body>
    <nav>
      <ul style="list-style-type:none">
        <li>
          <a href="/">- Home -</a>
        </li>
        <li>
          <a href="/pizza-orders/new">- Place An Order -</a>
        </li>
        <li>
          <a href="/pizza-orders">- Pizza Orders -</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
